html {
  font-family: arial;
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'nav'
  'test'
  "footer"
}
#left-part, #right-part {
  grid-area: test;
  display: inline-grid;
  grid-column: auto, auto;
}


header {
  grid-area: header;
  background-color: #bb2410;

  color: white;
  text-align: center;
}
nav {
  grid-area: nav;
}

nav > ul{
  background-color: #333333;

  list-style: none;
  color: white;
}
nav > ul > li {
  display: inline-block;

  padding: 0.5em;
}
nav > ul > li:hover {
  background-color: #656565;
  cursor: pointer;
}

#left-part{
  grid-area: left;
  background-color: #f1f1f1;
}

#right-part{
  grid-area: right;
}

table .description{
  background-color: #4caf50;

  color: white;
}

footer{
  grid-area: footer;
  background-color: #e6510f;

  text-align: center;
}
